.statusLabel {
	cursor: default;
}

.modal-title{
	text-align:center;
	font-weight:bold;
}

.page-sidebar-wrapper{
	position:fixed;
}

.ket{
	text-align:justify;
}

label.file-upload{position:relative;overflow:hidden}label.file-upload input[type=file]{position:absolute;top:0;right:0;min-width:100%;min-height:100%;font-size:100px;text-align:right;filter:alpha(opacity=0);opacity:0;outline:0;background:#fff;cursor:inherit;display:block}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    background-color: #32c5d2;
    border-color: #32c5d2;
    cursor: default;
}